@model IEnumerable<CareerCloudMVC.Models.JobInformation>

@{
    ViewBag.Title = "Jobs Created By Company";
}

<h2>Jobs Created By Company</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.jobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profileCreated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.profileCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    @Html.ActionLink("Create New Job", "Create", new { /* id=item.PrimaryKey */ })
</table>
